.feedback{
    background-color: rgba(245, 245, 245, 1);
    padding: 100px 0 0;
}
.feedback h2{
    margin-bottom: 60px;
}
.feedback-form{
    display: flex;
    justify-content: space-between;
}
.feedback-form form{
    width: 588px;
    min-width: 588px;
}
.feedback-form input{
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    margin-bottom: 30px;
    background-color: transparent;
}
.feedback-form input::placeholder{
    color: rgba(176, 176, 176, 1);
    
}
.file-upload {
    display: flex;
    align-items: center;
    gap: 24px;
}
.feedback-form input[type="file"]{
    display: none;
}
.feedback-form label{
    width: max-content;
    padding: 12px 36px;
    border: 1px solid rgba(217, 217, 217, 1);
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    font-weight: 600;
    color: rgba(60, 60, 60, 1);
    transition: background-color .3s ease;
}
.feedback-form label:hover{
    background-color: rgba(217, 217, 217, 1);
}
.feedback-form span{
    color: rgba(176, 176, 176, 1);
    font-weight: 400;
}
.feedback svg{
    margin-bottom: -19px;
    max-width: 486px;
}

.form-btn{
    display: flex;
    margin-top: 20px;
    gap: 24px;
}
.form-btn .btn{
    margin-top: 0;
}
.form-btn span{
    max-width: 299px;
}
.form-btn a{
    color: rgba(36, 117, 128, 1) !important;
    border-bottom: 1px solid rgba(36, 117, 128, 1);
    line-height: .5;
}

@media (max-width: 735px){
    .feedback{
        padding: 60px 0 0;
    }
    .feedback h2{
        margin-bottom: 40px;
    }
    .feedback-form form{
        width: 100%;
        min-width: 100%;
    }
    .feedback-form input{
        margin-bottom: 15px;
    }
}

@media (max-width: 550px){
    .form-btn{
        flex-direction: column;
        align-items: center;
    }
    .form-btn .btn{
        width: 100%;
    }
    .form-btn span{
        max-width: 100%;
        text-align: center;
        /* font-size: 14px; */
    }
}