.services{
    padding: 100px 0;
    background-color: rgba(46, 71, 84, 1);
    color: rgba(255, 255, 255, 1);
}

.services-list > li{
    border-top: 1px solid rgba(106, 136, 152, 1);
    padding-top: 21px;
    margin-top: 80px;
    cursor: pointer;
}
.service-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.service-info h3{
    width: 45%;
}
.service-text{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.service-text ul li{
    list-style-type: disc;
    margin-left: 15px;
}

.service-img{
    width: 200px;
    height:0px;
    opacity: 0;
    transition: all 0.5s ease;
    object-fit: cover;

}
.services-list > li:hover .service-img{
    opacity: 1;
    height: 130px;
    margin-top: 30px;
}

@media (max-width: 500px){
    .services{
        padding: 40px 0;
    }
    .services-list > li{
        margin-top: 40px;
    }
    .service-info{
        flex-direction: column;
        gap: 20px;
    }
    .service-info h3{
        width: 100%;
    }
    .service-text{
        width: 100%;
    }
}